header {
    width: 100%;
    height: max-content;
    margin: 0 auto;
    border-bottom: solid 2px rgb(100, 100, 100);
    background: linear-gradient(#0015ff, #000c8d,);
    color: white;


    .header-content {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 10%;
        padding-bottom: 10%;
        width: 100%;
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

    }
}
img {
    position: absolute;
    left: 1370px;
    bottom: 550px;
    width: 20%;
    height: auto;
    transform: scale(0.9);
  }
@media screen and (max-width: 768px) {
    .header-content {
        padding-top: 50%;
        padding-bottom: 50%;
    }
}