.team {
    padding-top: 0%;
    padding-bottom: 1%;

    .buttons {
        padding-top: 2%;
    }

    .pictures {
        padding-top: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        img {
            width: 30%;
            height: 20%;
        }
    }
}

@media screen and (max-width: 768px) {
    .team {
        padding-top: 5%;
        padding-bottom: 5%;

        .buttons {
            padding-top: 5%;
        }
    }
}